@model CrawlCenter.Web.ViewModels.RecurringTasks.RecurringTaskIndexViewModel

@{
    ViewData["Title"] = "项目管理";
}

@section SideMenu {
    <partial name="_SideMenu"/>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        定时任务（数量：@Model.RecurringTasks.Count()）
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <a class="btn btn-outline-primary" asp-controller="RecurringTask" asp-action="Add">
                <span data-feather="plus"></span>
                新增
            </a>
            <a class="btn btn-outline-success" asp-controller="RecurringTask" asp-action="SyncData">
                <span data-feather="refresh-cw"></span>
                同步
            </a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#ID</th>
        <th scope="col">任务名称</th>
        <th scope="col">Cron</th>
        <th scope="col">爬虫</th>
        <th scope="col">参数</th>
        <th scope="col">描述</th>
        <th scope="col">启用/禁用</th>
        <th scope="col">所有者</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model.RecurringTasks) {
        <tr>
            <th scope="row">@task.Id</th>
            <td>@task.Name</td>
            <td>@task.Cron</td>
            <td>
                <a class="card-link" asp-controller="Crawl" asp-action="Details" asp-route-id="@task.CrawlTask.Id">@task.CrawlTask.Name</a>
            </td>
            <td>@task.Parameters</td>
            <td>@task.Description</td>
            <td>@task.IsEnable</td>
            <td>(default)</td>
            <td>
                <a class="btn btn-sm btn-outline-primary" title="详情"
                   asp-controller="RecurringTask" asp-action="Details" asp-route-id="@task.Id">
                    <span data-feather="file-text"></span>
                </a>
                <a class="btn btn-sm btn-outline-info" title="编辑"
                   asp-controller="RecurringTask" asp-action="Edit" asp-route-id="@task.Id">
                    <span data-feather="edit-3"></span>
                </a>
                <form class="form-inline-btn" asp-controller="RecurringTask" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@task.Id">
                    <button type="submit" class="btn btn-sm btn-outline-danger" title="删除" href="#">
                        <span data-feather="trash"></span>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>